* {
    padding:0;
    margin:0;
}

body {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}

.name-img {
    border: 1px solid black;
    width: 80vw;
}

li {
    list-style: none;
}

.name-img .cover-img {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    object-fit: cover;
}